:root{
    --primary-color: rgb(0, 247, 255);
    --secondary-color: rgb(255, 255, 255);
    --accent1-color: black;
    --accent2-color: rgb(128, 0, 0);
    --heading-font: "New Times Roman", "Georgia", serif;
    --body-font: Ariel, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin: 10px 0;
    width: auto;
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

header img{
    width: 100px;
    height: auto;
}

header nav ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap:95px;
    justify-content: center;
    padding: 20px;
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    display: block;
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    color: white;
    padding: 1rem;
    border: 1px solid blanchedalmond;
    max-width: 840px;
    margin: 0 auto;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: peru; /* optional for readability */
    color: white;
    padding: 1rem;
    border-radius: 8px;
    width: 94%; /* or whatever fits your design */
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding:15px;
    text-align: center;
    opacity: 0.7;
    background-color: peru;
    color: white;
}

.hero article img {
    float: right;
    width: 125px;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: rgb(238, 175, 206);
    color: black;
    overflow: auto;
}

section h2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section div img{
    max-width: 200px;
    height: auto;
}

.align{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
}

.equal{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 15px;
    gap: 15px;
    flex-wrap: nowrap;
}

.equal img{
    display: flex;
    justify-content: flex-start;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.equal figure{
    width: 100px;
    text-align: center;
}

.equal figcaption{
    margin-top: 5px;
    font-size: 0.9em;
}


.samespace{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    background-color: var(--primary-color);
}
