:root {
    --primary-color: red;
    --secondary-color: skyblue;
    --accent1-color: black;
    --accent2-color: gray;
    --heading-font: cursive;
    --body-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

header, main, footer {
    margin: 0 auto;
    width: 850px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);}
.hero {
    position: relative;
    align-items: center;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
    padding: 15px;
}
.hero article {
    position: absolute;
    top: 130px;
    width: 100%;
    background-color: var(--accent2-color);
    opacity: 0.7;
    padding: 16px;
}
.hero article img {
    float: right;
    width: 125px;
    margin: 5px;
    padding: 4px;
    border: 1px solid gray;
}
.socialmedia a{
    text-decoration: none;
}