:root {
    --primary-color: green;
    --secondary-color: skyblue;
    --accent1-color: black;
    --accent2-color: white;
    --heading-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --body-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 15px;
}
header img{
    padding-left: 20px;
}
header nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
header nav a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3rem;
    color: var(--accent2-color);
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

header, main, footer,.yes {
    margin: 0 auto;
    width: 850px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    display: block;
    text-align: center;
}
h2{
    background-color: var(--primary-color);
    padding: 2px;
}
section img{
    padding-top: 30px;
}
footer{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 1px;
    text-align: center;
    display: flex;
}
.hero {
    position: relative;
    align-items: center;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: 20px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    font-family: cursive;
    width: 100%;
    padding: 15px;
}
.hero article {
    position: absolute;
    width: 820px;
    top: 130px;
    background-color: var(--secondary-color);
    opacity: 0.9;
    /* padding: 30px; */
}
.hero article img {
    float: right;
    width: 125px;
    margin: 5px;
    border: 1px solid black;
}
.history{
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 1fr 2fr;
}
.pictures{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(5, 1fr);
    width: fit-content;
    gap: 10px;
}
.assists{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
figure img{
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    padding-left: 40px;
}
figcaption{
    text-align: center;
}
.socialmedia a{
    text-decoration: none;
    /* display: flex; */
    justify-content: flex-end;
    text-align: end;
}
.bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
form{
    width: 400px;
    margin: 0 auto;
    border: 2px solid #808080;
    padding: 1rem;
    display: grid;
    gap: 12px;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
}
fieldset{
    display: grid;
}
input, select, textarea {
  padding: 0.4rem;
  font-size: 1rem;
}
button{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 0.5rem;
    font-size: 1rem;
}
button:hover{
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}
.yes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 850px;
}
main section h1{
    color: var(--accent1-color);
}
main section p{
    text-align: center;
}