* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: palevioletred;
    padding: 10px;
}

nav a {
    color: aliceblue;
    padding: 10px;
    display: block;
}

div img {
    position: relative;
    
}

h1 {
    color: blue;
    padding: .5rew;
}

aside {
    width:20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid black;
    text-align: center;
}

/*Class Selector*/
.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid grey;
    background-color: rgb(77, 165, 42);
    color: whitesmoke;
}

aside {
    width: 20em;
    text-align: center;
}



