nav {
    background-color: purple;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
main{
    max-width: 770px;
}
h1{
    color: red;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid grey;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}
p {
    padding: 0px;
}
aside{
    width: 20rem;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: whitesmoke;
    color: #333;
}
aside img{
    width: 200px;
    height: auto;
}

footer{
    margin: 10px;
    border-top: 1px solid gray;
    text-align: center;
}