* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
}
header nav{
    background-color: purple;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}
main h1{
    color: red;
    border-bottom: 50px;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid grey;
    padding: 2px;
    box-shadow: 0 0 30px grey;
    float: right;
}
main ul{
    margin: 1rem;
    padding: 10px;
    
}
aside{ 
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;   
 } 
 aside h2 {
    position: absolute;
    top: 30px;
    left: 90px;
 }
aside img{
    width: 200px;
    height: auto;
    
}

footer{
    margin: 0 auto;
    padding: 1rem;
    border-top: 1px solid gray;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 10px;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: gray;
    color: black;
}
.grid {
    display: grid;
    align-items: center;
}