.callout {
	max-width: 400px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 10px 15px ;
    background-color: rosybrown;
    color: white;
}

.callout img {
    float: right;
    margin:0 0 10px 15px;
    padding: 3px;
	border: 1px solid black;
    background-color: aliceblue;
    width: 100px;
    height: auto;
}

blockquote {
    padding: 10px;
	
}

cite {
	display: block;
    border-top: 1px dotted green;
    padding-top: 3px;
    text-align: right;
    font-size: smaller;
}